{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label>Title: </label>
        <input type="text" name="title">
        <hr>
        <label>Description: </label>
        <br>
        <textarea name="description" id="" cols="70" rows="10"></textarea>
        <hr>
        <label>Starting Bid: </label>
        <input type="number" name="bid">
        <hr>
        <label>image URL: </label>
        <input type="text" name="url">
        <hr>
        <label for="">Category: </label>
        <select name="category" id="category">
            {% for i in category %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <hr>
        <input type="submit" class="btn btn-primary">
        
    </form>
{% endblock %}