{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'category' %}" method="POST">
        {% csrf_token %}
        <label for="">Category: </label>
        <select name="category" id="category">
            {% for i in category %}
                <option value="{{i}}" name="cat">{{i}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary">Select</button>
    </form>

    {% for listing in listings %}
        <form action="{% url 'show' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{listing.id}}" name="id">
            <input type="hidden" value="{{listing.title}}" name="title1">
            <section class="row">
                <img src="{{listing.url}}" height="300px">
                <div class="col">
                    <h3 style="font-family: sans-serif;">{{listing.title}}</h3>
                    <h5><nobr style="font-weight: bold;">Price: </nobr>${{listing.starting_bid}}</h5>
                    <p style="font-family: sans-serif;">{{listing.description}}</p>
                    <input type="submit" class="btn btn-primary" value="See More">
                </div>
            </section>
            <hr>
        </form>
        
    {% endfor %}
{% endblock %}