{% extends "auctions/layout.html" %} {% block body %}
<h2>Listing: {{listing.title}}</h2>
<section class="row">
  <img src="{{listing.url}}" height="300px">
  <div>
    <h5>
      <nobr style="font-weight: bold">Price: </nobr>${{listing.starting_bid}}
    </h5>
    <p style="font-family: sans-serif">{{listing.description}}</p>
    <form action="{% url 'place_bid' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{listing.id}}" name="id">
      <input type="hidden" value="{{listing.starting_bid}}" name="price">
      <input type="number" name="bid">
      <input type="submit" class="btn btn-primary" value="Place Bid">
      {% if error %}
        {{error}}
      {% endif %}
    </form>
    <div style="padding: 5px;"></div>
    <form action="{% url 'add' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{listing.id}}" name="id" />
      <input type="submit" class="btn btn-primary" value="Add to Watchlist" />
    </form>
    <div style="padding: 5px;"></div>
    {% if listing.owner == user %}
      <form action="{% url 'close' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{listing.title}}" name="title">
        <input type="submit" class="btn btn-danger" value="Close Auction">
      </form>
    {% endif %}
  </div>
</section>
<section>
  <h3>Comments: </h3>
  {% for comment in comments %}
  <div style="background-color: gainsboro; padding-left: 5px;">
    <h5>{{comment.owner}}</h5>
    <p style="padding-left: 5px;">{{comment.comment}}</p>
    <hr>
  </div>
  {% endfor %}
  <form action="{% url 'comment' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="hidden" value="{{listing.title}}" name="title">
      <input type="hidden" value="{{listing.id}}" name="id">
      <label for="exampleFormControlTextarea1">Add Comment</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="com"></textarea>
      <div style="padding: 5px;"></div>
      <input type="submit" value="Comment" class="btn btn-primary">
    </div>
  </form>
</section>
{% endblock %}
