{% extends "auctions/layout.html" %} 
{% block body %} 
  {% for watchlist in watchlists %}
    {% if watchlist.owner == user %}
      <h2>Listing: {{watchlist.title}}</h2>
      <img src="{{watchlist.url}}" height="300px" />
      <p style="font-size: 18px; font-family: sans-serif">
        {{watchlist.description}}
      </p>
      <div style="display: flex;">
        <form action="{% url 'remove' %}" method="POST">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="Remove Item">
          <input type="hidden" value="{{watchlist.id}}" name="remove">
        </form>
        <div style="padding-left: 10px;"></div>
        <form action="{% url 'page' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="title" value="{{watchlist.title}}">
          <input type="submit" value="Listing page" class="btn btn-primary">
        </form>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}